{% load static %}
<footer class="text-white" id="footer">
    <div class="container">
        <p class="text-secondary">Sorularınız mı var? 0500 000 00 00 numaralı telefonu arayın</p>
        <div class="row justify-content-between">
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    <li><a class="text-secondary" href="">SSS</a></li>
                    <li><a class="text-secondary" href="">Yatırımcı İlişkileri</a></li>
                    <li><a class="text-secondary" href="">Kullanım Koşulları</a></li>
                    <li><a class="text-secondary" href="">Bize Ulaşın</a></li>
                </ul>
                <ul class="navbar-nav mt-4">
                    <li class="nav-item dropdown me-2">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static '/img/world.png' %}" alt="icon bulunamadı"> Türkçe
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Türkçe</a></li>
                            <li><a class="dropdown-item" href="#">İngilizce</a></li>
                        </ul>
                    </li>
                    <li class="text-secondary mt-3">Netflix Türkiye</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    <li><a class="text-secondary" href="">Yardım Merkezi</a></li>
                    <li><a class="text-secondary" href="">İş İmkanları</a></li>
                    <li><a class="text-secondary" href="">Gizlilik</a></li>
                    <li><a class="text-secondary" href="">Hız Testi</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    <li><a class="text-secondary" href="">Hesap</a></li>
                    <li><a class="text-secondary" href="">Hediye Kartı Kullan</a></li>
                    <li><a class="text-secondary" href="">Çerez Tercihleri</a></li>
                    <li><a class="text-secondary" href="">Yasal Hükümler</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    <li><a class="text-secondary" href="">Medya Merkezi</a></li>
                    <li><a class="text-secondary" href="">İzleme Yolları</a></li>
                    <li><a class="text-secondary" href="">Kurumsal Bilgiler</a></li>
                    <li><a class="text-secondary" href="">Sadece Netflix'te</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>