{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static './img/netflix_logo.png' %}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link link-light" href="./index.html">Anasayfa</a>   
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="./hesap.html">Hesap</a>   
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="./browse.html">Browse</a>   
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="./kimizliyor.html">Kim İzliyor</a>   
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="./login.html">Login</a>   
                </li> -->
                <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static './img/world.png' %}" alt="icon bulunamadı"> Türkçe
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Türkçe</a></li>
                        <li><a class="dropdown-item" href="#">İngilizce</a></li>
                    </ul>
                </li>
                <button class="btn btn-danger">

                    <a style="color: inherit; text-decoration: none;" href="{% url 'user_login' %}">Oturum Aç</a>

                </button>
            </ul>
        </div>
    </div>
</nav>