body {
    background-color: black;
}

.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url('../img/arkaplan.jpg');
    background-position: center;
    background-size: cover;
}

.header-row {
    width: 100%;
    height: 80vh;
}

.mail-container{
    background: linear-gradient(0deg, rgba(0, 8, 29, 1), rgba(0, 8, 29, 1)) padding-box,linear-gradient(271.65deg, #233371 5.26%, #00197a 50.02%,#e50914 97.68%) border-box;
    border: 4px solid transparent;
    padding: 15px;
    border-radius: 15px;
}

.accordion-item{
    background-color: rgba(19, 33, 68, 1);
    color: white;
    margin-bottom: 10px;
    border: none;
}

.accordion-button {
    background-color: rgba(19, 33, 68, 1);
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(34, 51, 98, 1);
    color: white;
    border: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button.collapsed::after {
    background: url("../svg/plus-lg.svg");
    background-position: center;
    background-size: 30px;
}


.accordion-button:not(.collapsed)::after {
    background: url("../svg/dash-lg.svg");
    background-position: center;
    background-size: 30px;
}

hr {
    background-color: gray;
    border: 4px solid gray;
}



.dropdown {
    list-style: none;
}


.header-row h1 {
    font-size: 60px;
}

.ilkp {
    font-size: 30px;
}

.kim-izliyor {
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 20%);
}

.kim-izliyor img{
    border-radius: 15px;
}

.kim-izliyor a{
    text-decoration: none;
}

.card {
    border: none;
    background: none;
}

.kimizliyor-btn{
    padding: 0 20px;
    font-size: 20px;
    background: none;
    border: 2px solid;
}

.hesap-header {
    width: 100%;
    background-color: lightgoldenrodyellow;
}

.dropdown-toggle {
    text-decoration: none;
}

.hesap-header-head {
    padding: 30px;
}

.login-container {
    padding: 30px;
    background: rgba(0,0,0,0.7);
}

.card img{
    transition: ease 1s;
}

.card img:hover{
    opacity: 0.3;
}

img {
    max-width: 100%;
}

#footer {

    margin-top: 2rem;
}

@media screen and (max-width: 375px) {
    .header {
        height: 130vh;
    }
    .header-row h1 {
        font-size: 35px;
    }
}


