{% extends "base.html" %}
{% load static %}


{% block site-baslik %}
  AnaSayfa
{% endblock site-baslik %}

{% block site-icerik %}
  
  <!-- hero wallpaper -->
  <div class="hero-image">

      <div class="hero-text" style="width: 100%;">
        <video width="100%" id="netflix_video" src="{{randomBanner.movie_source.url}}" muted></video>
  


      <div class="video-option">


              <i id="playButton" class="fa-solid fa-lg fa-rotate-right"></i>
              <i id="audio" class="fa-solid fa-lg fa-volume-xmark"></i>
     
          
      </div>

  </div>


  </div>


      <div class="row" style="margin-top: 7rem;">

      
        {% for category, movies in ogeler %}
        <h3 class="ms-3 text-light">{{category.type}}</h3>
 
      
        {% for movie in movies %}
        <div class="col-3 ms-3 mb-5">
    
        <!-- Modal -->
      <div class="modal fade" id="exampleModal-{{movie.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">{{movie.movie_name}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <video id="movie-{{movie.id}}" width="100%" src="{{ movie.movie_source.url}}" muted></video>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
      </div>


      <div class="card">
              <img src="{{movie.movie_image.url}}" class="card-img-top" alt="buz">
              <div class="card-body" style="width: 100%;">
                  <div class="card-options">
                      <!-- filmi aç -->
                      <i class="fa-solid fa-play"></i>
                      <!-- listeye ekle -->
                      <i onclick="add_list('{{profile.id}}', '{{movie.id}}')" class="fa-solid fa-plus" style="color: #ffffff;"></i>
                      <!-- begen -->
                      <i onclick="like_movie('{{movie.id}}')" class="fa-solid fa-thumbs-up"></i>
                      <i onclick="playShortVideo('{{movie.id}}')" data-bs-toggle="modal" data-bs-target="#exampleModal-{{movie.id}}" class="fa-solid fa-chevron-down"></i>
                  </div>

                  <div class="card-genres">
                  
                      <ul>

                          {% for etiket in movie.movie_categories.all %}

                          <li>{{etiket}}</li>

                          {% endfor %}
                        
                      </ul>
                  </div>

                <p class="card-text">{{movie.movie_description}}</p>
              </div>
      </div>

      </div>
      {% endfor %}



      {% endfor %}
 
      </div>
 


  <script src="{% static 'scripts/cardHover.js' %}"></script>
  <script src="{% static 'scripts/likeMovie.js' %}"></script>
  <script src="{% static 'scripts/addList.js' %}"></script>
  <script src="{% static 'scripts/playTrailer.js' %}"></script>

  <script>
          const video = document.getElementById("netflix_video");
          const playButton = document.getElementById('playButton');
          const audioBtn = document.getElementById('audio')

          // banner oynat
          function playVideo() {

              video.play();

          }

      


          document.body.onload = playVideo

          video.addEventListener('ended', function () {
              // Video bittiğinde butonu gösteriyoruz
              playButton.style.display = 'revert';
          });
          
          audioBtn.addEventListener('click', function() {

              video.muted = !video.muted;

             
              if (video.muted == false) {
                  audioBtn.className = 'fa-solid fa-lg fa-volume-off'

              } else {
        
                  audioBtn.className = "fa-solid fa-lg fa-volume-xmark"
              }
            
              video.volume = 0.5
    
             
          })

          playButton.addEventListener('click', function () {
          video.currentTime = 0;
          video.play();
          playButton.style.display = 'none'; // Butonu tekrar gizliyoruz

          });

      
  </script>



  
{% endblock site-icerik %}