{% extends "base.html" %}
{% load static %}


{% block site-baslik %}
  Listem
{% endblock site-baslik %}



{% block site-icerik %}
  
<div class="row">

    {% for movie in movies %}
    <div class="col-3 ms-3 mb-5">

    <!-- Modal -->
  <div class="modal fade" id="exampleModal-{{movie.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{movie.movie_name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <video id="movie-{{movie.id}}" width="100%" src="{{ movie.movie_source.url}}" muted></video>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  </div>


  <div class="card">
          <img src="{{movie.movie_image.url}}" class="card-img-top" alt="buz">
          <div class="card-body" style="width: 100%;">
              <div class="card-options">
                  <!-- filmi aç -->
                  <i class="fa-solid fa-play"></i>
                  <!-- çıkar -->
                  <i onclick="remove_movie('{{movie.id}}')" class="fa-solid fa-minus"></i>
                  <i onclick="like_movie('{{movie.id}}')" class="fa-solid fa-thumbs-up"></i>
                  <i onclick="playShortVideo('{{movie.id}}')" data-bs-toggle="modal" data-bs-target="#exampleModal-{{movie.id}}" class="fa-solid fa-chevron-down"></i>
              </div>

              <div class="card-genres">
              
                  <ul>

                      {% for etiket in movie.movie_categories.all %}

                      <li>{{etiket}}</li>

                      {% endfor %}
                    
                  </ul>
              </div>

            <p class="card-text">{{movie.movie_description}}</p>
          </div>
  </div>

  </div>
  {% endfor %}

</div>



<script src="{% static 'scripts/cardHover.js' %}"></script>
<script src="{% static 'scripts/likeMovie.js' %}"></script>
<script src="{% static 'scripts/playTrailer.js' %}"></script>

<script>
function remove_movie(movieId) {

    alert(movieId)
}
</script>
{% endblock site-icerik %}