{% extends "base.html" %}



{% block site-ekstra %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">

<style>

.img-container {

  position: relative;
}


.img-container span {

  position: absolute;
    top: 2px;
    right: 4px;
    color: white;
    cursor: pointer;
}


</style>
{% endblock site-ekstra %}



{% block site-icerigi %}
  


  <div class="container">

    <div class="row mt-5">

    {% if filmler and filmler.count %}
    <h3 class="text-light">Filmler</h3>

    <section class="splide" aria-label="Splide Basic HTML Example">
    
    <div class="splide__track">
		<ul class="splide__list">

        {% for film in filmler %}
          
         <li class="splide__slide">

       
               <div class="col-md-2 col-4 mt-1">

              <div class="img-container">

                <img src="/{{film.movie_cover}}" class="w-100 image-banner" alt="{{film.movie_title}}">
                <span onclick="addList('{{profile.id}}', '{{film.id}}')">KALP İKON</span>

              </div>
            

            <p class="text-center text-light mt-1">{{film.movie_title}}</p>
           
          </div>

        </li>
        {% endfor %}

    </ul>
    
  </div>
  </section>

  {% endif %}
  </div>

  
  <!-- diziler -->
  {% if diziler and diziler.count %}
        
  
      <div class="row mt-5">
          <h3 class="text-light"> Diziler</h3>

          {% for dizi in diziler %}
        
          <div class="col-md-2 col-4 mt-1">
            <a class="img-container" href="video.html">
                <img src="/{{dizi.movie_cover}}" class="w-100 image-banner" alt="{{dizi.movie_title}}">
            </a>
            <p class="text-center text-light mt-1">{{dizi.movie_title}}</p>
          </div>

          {% endfor %}  
       </div>

   {% endif %}

  </div>




  <script>

   async function addList(profileId, movieId) {

      const endpoint = `http://127.0.0.1:8000/api/v1/users/${profileId}/setItem/${movieId}`

      const request = await fetch(endpoint);
      const data = await request.json();

      console.log("serverden gelen veri:", data)

      // api isteği yap

    }
  </script>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>

<script>
  // splide uygula
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide' );
    splide.mount();
  } );
</script>

{% endblock site-icerigi %}