{% extends "base.html" %}

{% block site-ekstra %}
  


<style>
    .card img:hover {
        border: 4px solid white;
    }
    
    button:hover {
        border: 1px solid white;
        color: white !important;
    }


    #profileSection {
        transform: translate(0px,45%);
    }

</style>

{% endblock site-ekstra %}


{% block site-icerigi %}


{% block nav %} {% endblock nav %}

<div class="container">
    <div id="profileSection" class="row w-75 m-auto bg-black bg-opacity-25">
        <h1 class="text-center text-light">Kimler İzliyor?</h1>

        <div class="col-3 mt-5 mb-5">
            <a href="browse-index.html" class="text-decoration-none text-secondary">
                <div class="card bg-transparent">
                    <img src="img/smile-icon.jpg" class="card-img-top" alt="">
                    <div>
                        <h5 class="card-title text-center ">Mervan</h5>
                    </div>
                </div>
            </a>
        </div>

        

        <div class="buton mb-5 text-center">
            <button class="bg-dark text-secondary w-50 p-2 ">Profil Yönetimi</button>
        </div>
    </div>
</div>
  
{% endblock site-icerigi %}