{% extends "base.html" %}



{% block site-ekstra %} 

<style>
    body {

        background-color: white;
    }

    .container {

        min-height: 450px;
    }
</style>

{% endblock site-ekstra %}



{% block site-icerigi %}

    <!-- Hesap -->
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="row">
                    <h1>Hesap</h1>
                    <hr>
                    <div class="col">
                        <h4>Üyelik ve Ödemeler</h4>
                        <button>Üyeliği iptal et</button>
                    </div>
                    <div class="col">
                        <strong>{{request.user.email}}</strong>
                        <p>Parola:*******</p>
                        <p>tel: 0543 023 03 02</p>
                    </div>
                    <div class="col">
                        <a href="">E-postayi değiştir</a> <br>
                        <a href="">Parolayı değiştir</a> <br>
                        <a href="">Telefon numarasını değiştir</a>
                    </div>
                </div>

                <div class="row">
                    <hr>
                    <div class="col">
                        <h4>Ayarlar</h4>
                    </div>

                    <div class="col">
                        <a href="">18+ İçerik</a> <br>
                        <a href="">Teste katılın</a> <br>
                        <a href="">İçerik indirilen cihazları yönet</a>
                    </div>
                </div>

          

            </div>
        </div>
    </div>
{% endblock site-icerigi %}
   