body, html {
    height: 100%;
}

body { background-color: black !important;}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../materials/banner.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.logo {

    display: flex;
}

.logo img { width: 15%; margin-right: auto; }
.nav-content { align-self: center; margin-right: 2rem;}

.hero-text h1 { font-size: 3rem;}


.subscribe-now input {

    padding: 8px;
    width: 70%;

}

.subscribe-now button {

    position: absolute;
    padding: 10px;
    border: none;
    background: red;
    color: white;
}

.row div[class^="col"] { color: white !important; align-self: center;}


.tv-box {

    position: absolute;
    top: 18%;
    right: 0;
    z-index: -1;
}

.tv-box-2 {

    position: absolute;
    top: 6%;
    right: 0;
    z-index: -1;
}


.container-fluid {

    border-bottom: 10px solid;
}

.flex-container {

    border: 2px solid #181515;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 35px;
    right: 16%;
    background-color: #020202;
    align-items: center;
    border-radius: 8px;

}

.poster { width: 15%; padding: 6px;}
.poster img { width: 100%;}
.icon { width: 15%;}
.icon img { width: 100%;}
