{% load static %}

<nav class="navbar navbar-expand-lg bg-black fixed-top navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'img/netflix_logo.png' %}" width="50" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Diziler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Filmler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Yeni ve popüler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Listem</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" style="margin-right: 100px;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{% static 'img/smile-profil.png' %}" alt="">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Profil Yönetimi</a></li>
              <li>
                  <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Hesap</a></li>
              <li><a class="dropdown-item" href="#">Yardım Merkezi</a></li>
              <li><a class="dropdown-item" href="#">Netflix oturumunu kapat</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>