<div class="row">
    <div class="col-75">
      <div class="debit-card-container">
        <form id="debit-form" action="{% url 'user-account' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-50">
              <h3>Billing Address</h3>
              <label for="fname"><i class="fa fa-user"></i> Full Name</label>
              {{form.name}}
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              {{form.email}}
              <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
              {{form.adress}}
  
              <div class="row">
    
                <div class="col-50">
                  <label for="zip">Zip</label>
                  {{form.zip}}
                </div>
              </div>
            </div>
  
            <div class="col-50">
              <h3>Payment</h3>
              <label for="fname">Accepted Cards</label>
              <div class="icon-container">
                <i class="fa fa-cc-visa" style="color:navy;"></i>
                <i class="fa fa-cc-amex" style="color:blue;"></i>
                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                <i class="fa fa-cc-discover" style="color:orange;"></i>
              </div>
              <label for="cname">Name on Card</label>
              {{form.cardName}}
              <label for="ccnum">Credit card number</label>
              {{form.debitNo}}
              <label for="expmonth">Exp Month</label>
              {{form.expiredMonth}}
  
              <div class="row">
                <div class="col-50">
                  <label for="expyear">Exp Year</label>
                  {{form.expiredYear}}
                </div>
                <div class="col-50">
                  <label for="cvv">CVV</label>
                  {{form.cvv}}
                </div>
              </div>
            </div>
  
          </div>
       
           <div class="mt-3">

            {% if registeredBefore %}
            <input type="submit" value="Yeniden Aktif Et" class="btn">
            {% else %}
            <input type="submit" value="Onayla" class="btn">
            {% endif %}
            
            
           </div>
       
        </form>
      </div>
    </div>
  
  </div>



  <script>

    document.querySelectorAll("#debit-form input, textarea").forEach((html) => {

      if (html.localName.toLowerCase() === "textarea") {

        html.style.maxHeight = "120px"
        html.style.resize = "none"

      }
      html.classList.add('form-control')


      switch (html.id) {

          case "id_name": 
          html.placeholder = "Fatura İsmi"
          break;

          case "id_email":
          html.placeholder = "Fatura E-mail adresi"
          break;

          case "id_adress":
          html.placeholder = "Fatura Adresi"
          break;

          case "id_zip":
          html.placeholder = "Posta Kodu"
          break;

          case "id_cardName": 
          html.placeholder = "Kart Üzerindeki Ad"
          break;

          case "id_debitNo": 
          html.placeholder = "Kart Üzerindeki Numara"
          break;

      }


    })
  </script>